virtual_env/
*__pycache__
.vscode/
.vscode
*.env
*.git
*.txt
# Ignore PyInstaller build folders
build/
dist/
__pycache__/
*.spec
*.pyc
*.pyo
*.log
*.bat

.ipynb_checkpoints/
.ipynb_checkpoints
.DS_Store